@* Brief of the company *@
<h1>Brief</h1>
<section>
    <h2>Company Info</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Company Name</th>
                <th>Description</th>
                <th>Group members & roles</th>
            </tr>
        </thead>
        @* traversing the loop *@
        <tbody>
            @foreach(var Brief in Model){
                <tr>
                    <td>@Brief["Id"]</td>
                    <td>@Brief["Company Name"]</td>
                    <td>@Brief["Description"]</td>
                    <td>@Brief["Group members & roles"]</td>
                </tr>
            }
        </tbody>
    </table>
</section>

@* Another section for the proposal *@
<section>
    <h3>Proposal</h3>
    <p>
        <strong>Description of the Site:</strong> @(((dynamic)ViewData["ProposalData"]).description)
    </p>
    <p>
        <strong>Products or Services:</strong> @(((dynamic)ViewData["ProposalData"]).ProductsOrServices)
    </p>
    <p>
        <strong>Industry Need:</strong> @(((dynamic)ViewData["ProposalData"]).IndustryNeed)
    </p>
    <p>
        <strong>User Roles:</strong> @(((dynamic)ViewData["ProposalData"]).UserRoles)
    </p>
</section>
